@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
body{
    @apply dark:bg-gray-900
}
b{
    @apply uppercase;
}

@theme {
  --animate-wiggle: wiggle 1s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-20deg);
    }
    50% {
      transform: rotate(20deg);
    }
  }
}

.scroll-hidden{
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.scroll-hidden::-webkit-scrollbar{
    display:none;
}

.pin-bar-right-rotate{
  position: absolute;
  transform:rotate(45deg)  
}

.pin-bar-left-rotate{
  position: absolute;
  transform:rotate(-45deg)
}
.pin-bar-middle-hide{
  opacity:0 ;
}
.toggle-mobile-menu{
  scale: 1;
  opacity: 1;
}