@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
body{
    @apply dark:bg-gray-900
}
b{
    @apply uppercase;
}

@theme {
  --animate-wiggle: wiggle 1s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-20deg);
    }
    50% {
      transform: rotate(20deg);
    }
  }
}

.scroll-hidden{
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.scroll-hidden::-webkit-scrollbar{
    display:none;
}