@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
body{
    @apply dark:bg-gray-900
}
b{
    @apply uppercase;
}
.scroll-hidden{
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.scroll-hidden::-webkit-scrollbar{
    display:none;
}